<div class="row" *ngIf="type=='service'">
  <nb-card accent="warning">
    <nb-card-body>
      <div class="row">
        <div class="col-md-4">
          <nb-card accent="primary" class="card-border-none text-center">
            <nb-card-body class="img-enterprise-container">
              <img src="https://www.cofrem.com.co/sites/default/files/LOGO%20COFREM%20VERTICAL.jpg" class="img-fluid img-enterprise col-md-8">
            </nb-card-body>
          </nb-card>
        </div>
        <div class="col-md-8">
          <nb-card accent="info" class="card-border-none" size="xsmall">
            <nb-card-header>
              Cofrem
            </nb-card-header>
            <nb-card-body>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis asperiores cupiditate accusantium repellendus ratione, incidunt id aut velit et nobis ex facere? Unde dolor aperiam minima doloremque modi debitis blanditiis?
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur molestiae eum possimus quis itaque mollitia, vero, ullam cum rem nam eaque a sequi eos beatae quos quae ab, minima doloribus.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit quae quia commodi dicta harum nesciunt aliquam necessitatibus porro ad quas et repellendus, debitis qui cum modi eveniet, aut dignissimos officiis.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero ea beatae ex sint voluptatum et eos, aut dicta recusandae blanditiis neque fugit atque modi quibusdam expedita dolores ipsum explicabo tenetur.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati ducimus quaerat cum exercitationem voluptatibus ea necessitatibus optio eos nulla assumenda aliquid, dignissimos nisi hic dicta? Debitis est totam veniam assumenda?
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores dicta illum libero porro voluptatibus voluptatum sequi perspiciatis nam in dolorem odio, fugiat tempore natus velit possimus et quaerat doloribus quibusdam.
              </p>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>

<div class="row">
  <nb-accordion class="col-md-12 mb-5" accent="primary">
    <nb-accordion-item>
      <nb-accordion-item-header class="text-center">
        Filter {{type.charAt(0).toUpperCase().concat(type.slice(1),'s')}}
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <div class="row">
          <div class="col-lg-6">
            <nb-card accent="danger" class="card-border-none" size="small">
              <nb-card-header>
                Select Categories
              </nb-card-header>
                <div class="pre-scrollable categories-list">
                <nb-list>
                  <nb-list-item class="taxon" *ngFor="let taxon of taxons">
                    <nb-checkbox status="success" type="checkbox" [(ngModel)]="taxon.checked">{{taxon.name}}</nb-checkbox>
                  </nb-list-item>
                </nb-list>
              </div>
            </nb-card>
          </div>
          <div class="col-lg-6">
            <nb-card accent="danger" class="card-border-none">
              <nb-card-header>
                Filter {{type.charAt(0).toUpperCase() + type.slice(1)}}
              </nb-card-header>
              <nb-card-body>
                <div class="row mb-2">
                  <div class="col-md-12">
                    Search: {{ search != "" && search != null ? search : "" }}
                    <div class="float-right">
                      <nb-search type="rotate-layout"></nb-search>
                    </div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input 
                    placeholder="Min Price"
                    type="text" 
                    class="form-control" 
                    step=1
                    [(ngModel)]="min_price"
                    aria-label="Amount (to the nearest dollar)"
                    onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                  <div class="input-group-append">
                    <span class="input-group-text">.00</span>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input 
                    placeholder="Max Price"
                    type="text" 
                    class="form-control" 
                    step=1 
                    [(ngModel)]="max_price"
                    aria-label="Amount (to the nearest dollar)"
                    onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                  <div class="input-group-append">
                    <span class="input-group-text">.00</span>
                  </div>
                </div>
                <br />
                <button nbButton hero status="info" (click)="loadFirst()" class="col-md-12">Filter</button>
              </nb-card-body>
            </nb-card>
          </div>
        </div>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
</div>

<div class="row">
  <nb-flip-card class="card" *ngFor="let product of products" >
    <nb-card-front>
      <nb-card accent="danger" class="inner-card">
        <div class="product-image-container"><img src="{{product.imege ? api_url.concat(product.imege) : 'assets/images/terapp_alt.png'}}" class="card-img-top" alt="..."></div>
        <div class="row">
          <div class="col-sm-12 text-center">
            <h4>{{product.name}}</h4>
            <p>{{product.user}}</p>
            <!-- <span class="final-date">{{product.final_date}}</span> -->
          </div>
        </div>
        <div class="row action-bar">
          <div class="col-sm-6">
            <span class="badge badge-pill badge-success">{{product.current_price < product.full_price ? this.floatToInt(-100*(product.full_price-product.current_price)/product.full_price) + '%' : '0 %'}}</span>
          </div>
          <div class ="col-sm-6 link" (click)="addToCart(product,'top-right', 'success')">
              <div class="float-right">
              <i class="fa fa-shopping-cart" title="Añadir al carrito" badgeText="Add" badgePosition="bottom" badgeStatus="warning"></i>
              <span class="badge badge-pill badge-primary">Add</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 full-price text-center">
            {{product.full_price ? product.full_price : product.price | currency}}
          </div>   
        </div>
        <div class="row">
          <div class="col-sm-12 current-price text-center">
            {{product.price | currency}}
          </div>   
        </div> 
      </nb-card>
    </nb-card-front>
    <nb-card-back>
      <nb-card accent="danger" class="inner-card">
        <br />
        <div class="row">
          <div class="col-sm-12 text-center">
            <h4>{{product.name}}</h4>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text" [innerHTML]="product.description" ></p>
        </div>
        <div class="row">
          <div class="col-sm-12 full-price text-center">
            {{product.full_price | currency}}
          </div>   
        </div>  
        <div class="row">
          <div class="col-sm-12 current-price text-center">
            {{product.current_price | currency}}
          </div>   
        </div>   
        <div class="row">
          <div class="col-sm-12 text-center">
            <span class="final-date">{{product.final_date}}</span>
          </div>
        </div>
        <div class="row brand-container">
          <div class="col-sm-8 brand-container">
            <nb-user picture="{{product.user_image}}" name="{{product.user}}"></nb-user>
          </div>   
          <div class ="col-sm-4 link" (click)="addToCart(product,'top-right', 'success')">
            <i class="fa fa-shopping-cart" title="Añadir al carrito" badgeText="Add" badgePosition="bottom" badgeStatus="warning"></i>
            <span class="badge badge-pill badge-primary">Add</span>
          </div>
        </div>
      </nb-card>
    </nb-card-back>
  </nb-flip-card>
</div>
