.card {
    width: 23%;
    margin: 0.1rem auto;
    background: none;
    border: none;
}
.product-image-container {
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-size: auto;
}

.card-img-top {
    margin: 0 auto;
}

.action-bar {
    padding: 5px;
}

.percentage {
    display: inline;
}

.inner-card {
    border: none;
}

.full-price{
    text-decoration:line-through;
    color: #999999;
}
.current-price{
    color: #1cb900;
    font-size: x-large;
}
.final-date {
    color: #e40000;
}
.search-bar {
    margin: 0 auto;
    width: 100%;
    position:fixed; 
    height: 50px;
    max-width: 70%;
    z-index: 1;
}
.space-search-bar {
    height: 50px;
}
.brand-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 1rem;
}
.action-icon-danger {
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
.action-icon-success {
    text-shadow: 0 0 5px rgb(43, 255, 0), 0 0 8px #0000FF;
}
.link {
    cursor: pointer;
}
.card-border-none {
    border: none;
}