<custom-form *ngIf="currentAction=='create' && createModel" 
    title="{{config.title}} / Create Form" 
    [model]="createModel" 
    (submit)= "onAction({action:'store', data:$event})" 
    (cancel)="currentAction='index'">
    <div class="form-group">
        <label>Product Image</label><br />
        <div class="form-control">
            <input type="file" id="image" (change)="onFileChange($event)" #fileInput>
        </div>
    </div>
    <div *ngIf="type == 'service' || type == 'additional'">
        <div class="form-group" *ngFor= "let key of objectKeys(discounts)">
            <label>Discount {{key}}</label><br />
            <input class="form-control" type="number" id="key" [(ngModel)]="discounts[key]">
        </div>
    </div>
</custom-form>
<custom-form *ngIf="currentAction=='edit' && editModel" 
    title="{{config.title}} / Edit Form" 
    [model]="editModel" 
    (submit)= "onAction({action:'update', data:$event})" 
    (cancel)="currentAction='index'">
    <div *ngIf="type == 'service' || type == 'additional'">
        <div class="form-group" *ngFor= "let key of objectKeys(discounts)">
            <label>Discount {{key}}</label><br />
            <input class="form-control" type="number" id="key" [(ngModel)]="discounts[key]">
        </div>
    </div>
</custom-form>
<custom-table *ngIf="currentAction=='index' && config && actions" 
    [config]="config" 
    [actions]="actions" 
    (action)="onAction($event)">
    <custom-actions *ngIf="globalActions"
        [actions]="globalActions" 
        (action)="onAction({action:$event, data:''})">
    </custom-actions>
</custom-table>
<custom-form *ngIf="currentAction=='editTaxons'" 
    title="{{config.title}} / Categories" 
    [model]="syncModel" 
    (submit)= "onAction({action:'syncTaxons', data:$event})" 
    (cancel)="currentAction='index'">
</custom-form>