  :host nb-tab {
    padding: 1.25rem;
  }
  :host nb-card {
    padding: 1.25rem;
  }
  :host ::ng-deep .string { color: green; }
  :host ::ng-deep .number { color: darkorange; }
  :host ::ng-deep .boolean { color: rgb(90, 136, 196); }
  :host ::ng-deep .null { color: magenta; }
  :host ::ng-deep .key { color: rgb(47, 0, 255); }