<nb-card *ngIf="currentAction=='index' && config && actions">
  <nb-card-header>
    <div class="btn-group btn-group-sm" role="group">
      <button  type="button" [title]="Return" class="btn btn-danger btn-sm btn-icon">
        BACK &nbsp; <i class="fa fa-undo-alt"></i>
      </button>
    </div> &nbsp;
    Admin Quota
  </nb-card-header>
  <nb-card-body>
    <nb-tabset>
      <nb-tab tabTitle="Cuenta" tabIcon="fa fa-address-card" responsive>
        <nb-card accent="info">
          <div class="row">
            <div class="col-lg-6">
              <nb-card accent="info">     
                <nb-card-body>
                  <nb-accordion multi>
                    <nb-accordion-item *ngFor="let order of orders">
                      <nb-accordion-item-header>
                        <div class="col-lg-6">Orden {{ order.date }}</div>
                        <div class="col-lg-6 text-right">{{ order.price | currency }}</div>
                      </nb-accordion-item-header>
                      <nb-accordion-item-body>
                        <tr *ngFor="let product of order.products">
                          <td class="col-lg-4">{{ product.name }}</td>
                          <td class="col-lg-4">{{ product.brand }}</td>
                          <td class="col-lg-4 text-right">{{ product.price | currency }}</td>  
                        </tr>
                      </nb-accordion-item-body>
                    </nb-accordion-item>
                  </nb-accordion>
                </nb-card-body>
              </nb-card>
            </div>
            <div class="col-lg-6">
              <nb-card size="small" accent = "primary">
                <nb-card-header>Estadísticas</nb-card-header>
                <nb-card-body>
                  <table class="table">
                      <tbody>
                        <tr>
                          <th scope="row">Total venta</th>
                          <td class="text-right"> {{ quota_tot.spent | currency}} </td>
                        </tr>
                        <tr>
                            <th scope="row">Cupo disponible</th>
                            <td class="text-right"> {{ quota_tot.available | currency}} </td>
                          </tr>
                        <tr>
                          <th scope="row">Numero de órdenes</th>
                          <td class="text-right"> {{ quota_tot.orders | currency}} </td>
                        </tr>
                        <tr>
                          <th scope="row">Valor medio de pedidos</th>
                          <td class="text-right"> {{ quota_tot.mean | currency}} </td>
                        </tr>
                        <tr>
                          <th scope="row">Fecha de ingreso</th>
                          <td class="text-right"> {{ quota_tot.date}} </td>
                        </tr>
                      </tbody>
                    </table>
                </nb-card-body>
              </nb-card>
            </div>
          </div> <!--row-->
        </nb-card>
      </nb-tab> <!--Cuenta-->
      <nb-tab tabTitle="Cupo" tabIcon="fa fa-dollar-sign" badgeText="Admin" badgeStatus="danger" badgePosition="bottom right" responsive>
        <nb-card accent="info">
          <div class="row">
            <div class="col-lg-6">
              <nb-card size="medium" accent = "danger">
                <nb-card-header>Asignar nuevo cupo</nb-card-header>
                <nb-card-body>
                  <div class="form-group">
                    <input type="text" nbInput [(ngModel)]="new_quota.amount" fullWidth status="danger" placeholder="Valor del cupo">
                  </div>
                  <!-- <div class="form-group">
                    <textarea rows="5" status="info" [(ngModel)]="new_quota.description" placeholder="Comentarios" class="form-control"></textarea>
                  </div> -->
                  <div class="form-group text-center">
                    <button nbButton hero status="success" (click)="add_quota()">Asignar</button>
                  </div>
                </nb-card-body>
              </nb-card>
            </div>
            <div class="col-lg-6">
                <nb-card size="medium" accent = "primary">
                  <nb-card-header>Estadísticas</nb-card-header>
                  <nb-card-body>
                    <table class="table">
                        <tbody>
                          <tr>
                            <th scope="row">Estado</th>
                            <td class="text-right">
                              {{new_quota.is_active ? "Activo" : "Inactivo"}}
                              <label class="switch">
                                <input type="checkbox" [(ngModel)]="new_quota.is_active">
                                <span class="slider round"></span>
                              </label>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">Total venta</th>
                            <td class="text-right"> {{ quota_tot.spent | currency}} </td>
                          </tr>
                          <tr>
                            <th scope="row">Total cupo disponible</th>
                            <td class="text-right"> {{ quota_tot.available | currency}} </td>
                          </tr>
                          <tr>
                            <th scope="row">Numero de órdenes</th>
                            <td class="text-right"> {{ quota_tot.orders | currency}} </td>
                          </tr>
                          <tr>
                            <th scope="row">Valor medio de pedidos</th>
                            <td class="text-right"> {{ quota_tot.mean | currency}} </td>
                          </tr>
                          <tr>
                            <th scope="row">Fecha de ingreso</th>
                            <td class="text-right"> {{ quota_tot.date}} </td>
                          </tr>
                        </tbody>
                      </table>
                  </nb-card-body>
                </nb-card>
            </div>
          </div> <!--row-->

          <custom-table
              [config]="config" 
              [actions]="actions" 
              (action)="onAction($event)">
              <custom-actions *ngIf="globalActions"
                  [actions]="globalActions" 
                  (action)="onAction({action:$event, data:''})">
              </custom-actions>
          </custom-table>

        </nb-card>
      </nb-tab><!--Cupo-->
    </nb-tabset>
  </nb-card-body>
</nb-card>
<nb-card *ngIf="currentAction=='viewTransactionDetails'">
  <nb-card-header>
    Transaction details
  </nb-card-header>
  <nb-card-body [innerHtml]=" '<pre>' + syntaxHighlight(currentTransactionDetails) + '<pre>'">
  </nb-card-body>
</nb-card>