<nb-card>
  <nb-card-header>
    Servicio:
  </nb-card-header>
  <nb-card-body>
    <div class="text-center">
      <h4>{{service_name}}</h4>
      <br />
    </div>
    <nb-alert status="primary">
      <nb-actions fullWidth>
        <nb-action badgePosition="bottom" badgeStatus="danger">
          <div class="total">
            <b>Total:</b> {{ sum | currency }}
          </div>
        </nb-action>
        <nb-action (click)="addToCart('top-right', 'success')" class="menu_links">
          <a class="col-md-8 total" ><i class="fa fa-shopping-cart"></i> Add to Cart</a>
        </nb-action>
      </nb-actions>
    </nb-alert>
    <nb-card accent="danger">
      <nb-card-header>
        <h5>Service:</h5>
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-md-3">
            <nb-user name="{{service_name}}"></nb-user>
          </div>
          <div class="col-md-6 text-center">
            <p>
              {{service_description}}
            </p>
          </div>
          <div class="col-md-3">
            <div class="float-right">
                <h6>{{service_price | currency}}</h6>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
    
    <nb-card accent="warning">
      <nb-card-header>
        <h5>Adicionales:</h5>
      </nb-card-header>
      <nb-card-body>
          <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Adicional</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Valor Total</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let additional of additionals; let i = index;">
                  <th scope="row"><nb-checkbox status="success" (click)="check_additional($event, additional, i)"></nb-checkbox></th>
                  <td> 
                    <nb-user name="{{additional.name}}"></nb-user>
                  </td>
                  <td>{{additional.quantity}}</td>
                  <td>{{additional.price*additional.quantity | currency}}</td>
                  <td>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-primary btn-icon" (click)="decrease_quantity(additional, i)"><i class="fa fa-minus"></i></button>
                      <button type="button" class="btn btn-success btn-icon" (click)="increase_quantity(additional, i)"><i class="fa fa-plus"></i></button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
      </nb-card-body>
    </nb-card>

  </nb-card-body>
</nb-card>
